<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </head>
<body>
    <h1 class="p-3 p-3 mb-2 bg-light text-dark">Миссия Колонизация Марса</h1>
    <h4 class="p-3 p-3 mb-2 text-secondary">И на Марсе будут яблони цвести!</h4>
</body>